@import url(style.css);


@keyframes rotateImg {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes moving {
    0%{
        left: -50%;
    }

    100%{
        left: 150%;
    }
}