@import url(animation.css);



:root{
    --color-1-: #d89f04 ;
    --color-2-: #f9db89 ;
    --color-3-: white;
    --color-4-: black;
    --gradient-1-: linear-gradient(130deg, rgba(0,0,0,1) 50%, rgba(216,159,4,1) 100%) ;
    --gradient-2-: linear-gradient(0deg, rgba(216,159,4,1) 0%, rgba(255,255,255,1) 50%, rgba(216,159,4,1) 100%) ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comic Neue', cursive;
    background: var(--gradient-1-);
    height: 100vh;
    color: var(--color-2-);
    
}



/* profile */

.profile{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile .avatar::after{
    position: absolute;
    content: '';
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background: var(--gradient-2-);

    animation: rotateImg 2s infinite linear;
}

.profile .avatar img{
    z-index: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile .profileText{
    text-align: center;
}

.profile .profileText h1{
    
    margin: 20px 0 10px 0;
}

.profile .profileText h1,
.profile .profileText h2{
    font-weight: lighter;
}




/* SECTION */

.container {
    display: flex;
    justify-content: space-around;
}

.container .linkList{
    display: flex;
    flex-direction: column;
}

.container .linkList .link{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background: var(--color-1-);

    width: 355px;
    height: 85px;

    font-size: 1.2em;

    margin: 15px 0;
    z-index: 1;
    overflow: hidden;
}

.container .linkList .link::after{
    content: '';
    width: 350px;
    height: 80px;
    background: var(--color-4-);
    position: absolute;
    z-index: -1;
}

.container .linkList .link::before{
    content: '';
    width: 355px;
    height: 85px;
    background: var(--gradient-2-);
    position: absolute;
    z-index: -2;
    animation: rotateImg 4s infinite linear;
}

.container .linkList .link i{
    position: absolute;
}

.container .linkList .link i:first-child{
    left: 20px;
    font-size: 40px;
}

.container .linkList .link i:last-child{
    right: 20px;
}

.container .linkList .link a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-2-);
    position: absolute;
    width: 350px;
    height: 80px;
}




/* FOOTER */

footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: auto auto 0 auto;
    width: 100vw;
    text-align: center;
    color: var(--color-2-);
    padding: 20px 0;
    background: var(--color-4-);
    height: 20px;
}






@media (max-height: 700px){
    footer{
        display: none;
    }
}